name: Run Hello Script
on:
  push:
    branches: [ "main" ]
jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run hello script
        run: |
          chmod +x myfirstscript.sh
          ./myfirstscript.sh
